<!DOCTYPE html>
<html>
<head>
    <title>Привет, Мир!</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
</head>
<body>
    <h1>Привет, Мир!</h1>
    <h2>Это учебный сайт, с его помощью будут изучены технологии python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>
    
    <h4>Здесь есть маркированный список:</h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
    
    <h4>И нумерованный список:</h4>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>
    
    <p>И даже таблица:</p>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Столбик 1</th>
                <th style="border: 1px solid black;">Столбик 2</th>
                <th style="border: 1px solid black;">Столбик 3</th>
                <th style="border: 1px solid black;">Столбик 4</th>
                <th style="border: 1px solid black;">Столбик 5</th>
                <th style="border: 1px solid black;">Столбик 6</th>
            </tr>
        </thead>
        <tr>
            <td style="border: 1px solid black;">Строка 1 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 1 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 1 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 1 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 1 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 1 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 2 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 2 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 2 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 2 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 2 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 2 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 3 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 3 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 3 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 3 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 3 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 3 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 4 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 4 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 4 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 4 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 4 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 4 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 5 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 5 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 5 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 5 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 5 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 5 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 6 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 6 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 6 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 6 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 6 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 6 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Строка 7 Столбец 1</td>
            <td style="border: 1px solid black;">Строка 7 Столбец 2</td>
            <td style="border: 1px solid black;">Строка 7 Столбец 3</td>
            <td style="border: 1px solid black;">Строка 7 Столбец 4</td>
            <td style="border: 1px solid black;">Строка 7 Столбец 5</td>
            <td style="border: 1px solid black;">Строка 7 Столбец 6</td>
        </tr>
    </table>
</body>
</html>
